{% include 'header.twig' %}

{% if view.viewErrors %}
    <div class="block-msg block-errors">
        {% for error in view.viewErrors %}
            <div>• {{ error }}</div>
        {% endfor %}
    </div>
{% endif %}

{% if view.successMessages %}
    <div class="block-msg block-success">
        {% for msg in view.successMessages %}
            <div>• {{ msg }}</div>
        {% endfor %}
    </div>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    <table cellpadding="3">
        <thead>
        <tr>
            <td><b>Photos:</b> (May be multiple)</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="file" name="photo[]" multiple="multiple" /></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td><br><input type="submit" value=">>> Upload <<<" /></td>
        </tr>
        </tfoot>
    </table>
</form>

{% include 'footer.twig' %}